{{define "layout"}}
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Two Rooms and a Boom</title>
	<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Inter:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/stylesheets/main.css">
	{{template "styling" .}}

	<style>
		#rejoin-box {
			border: 1px solid lime;
			background-color: black;
			align-self: center;
			position: fixed;
			bottom: 5px;
		}

		/* #main-content {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
		} */
	</style>
</head>

<body>
	<div id="content">
		<div id="notification-popup" class="notification-popup">
			<div id="notification-header" style="display: flex; justify-content: center;">
				<span style="font-weight: bold; font-size: large" id="notification-title">Alert</span>
				<span style="font-size: 20px; cursor: pointer; position: absolute; right: 0%; top: 5%; padding: 20px; padding-top: 0px"
					onclick="hideNotification()">&times;</span>
			</div>
			<div id="notification-content"></div>
		</div>
		<header class="site-header">
			<nav>
				<a href="/">Home</a>
				<a href="/roleeditor">Role Editor</a>
				<a href="/compendium">Compendium</a>
				<a href="https://github.com/raklan/Two-Rooms-and-a-Boom/issues/new" target="_blank">Report a Bug</a>
			</nav>
		</header>
		<main class="page-center">
			<!--IMPORTANT: The '.' sends the data passed in during execution of this template to the nested template being executed into these-->
			{{template "body" .}}
		</main>
		<div id="rejoin-box" style="display: none;">
			<h4 style="text-align: center;">Active Game Detected. Rejoin?</h4>
			<button onclick="rejoinGame()">Rejoin</button>
			<button onclick="dropGame()">Drop Game</button>
		</div>
	</div>
</body>
{{template "scripts" .}}

<script>
	function checkForActiveGame() {
		if (window.location.pathname == '/play') {
			return
		}
		const connectionInfo = JSON.parse(window.localStorage.getItem('efaios-connectionInfo'))

		if (connectionInfo?.type === 'rejoin') {
			document.getElementById('rejoin-box').style.display = '';
		}
	}

	function rejoinGame() {
		window.open('/play', '_self')
	}

	function dropGame() {
		window.localStorage.removeItem('efaios-connectionInfo')
		document.getElementById('rejoin-box').style.display = 'none';
	}

	checkForActiveGame();
</script>

</html>
{{end}}