{{define "layout"}}
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>EFAiOS</title>
	<link rel="stylesheet" href="/assets/stylesheets/main.css">
	{{template "styling" .}}

	<style>
		#rejoin-box {
			border: 1px solid lime;
			background-color: black;
			align-self: center;
			position: fixed;
			bottom: 5px;
		}

		#main-content {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
		}
	</style>
</head>

<body>
	<div id="main-content">
		<div id="notification-popup" class="notification-popup">
			<div id="notification-header" style="display: flex; justify-content: center;">
				<span style="font-weight: bold; font-size: large" id="notification-title">Alert</span>
				<span style="font-size: 20px; cursor: pointer; position: absolute; right: 0%; top: 5%; padding: 20px; padding-top: 0px"
					onclick="hideNotification()">&times;</span>
			</div>
			<div id="notification-content"></div>
		</div>
		<header style="margin-bottom: 5%;">
			<nav>
				<a href="/">Home</a>
				<a href="/roleeditor">Role Editor</a>
				<a href="/compendium">Compendium</a>
				<a href="https://github.com/raklan/EFAiOS/issues/new" target="_blank">Report a Bug</a>
			</nav>
		</header>
		<!--IMPORTANT: The '.' sends the data passed in during execution of this template to the nested template being executed into these-->
		{{template "body" .}}
		<div id="rejoin-box" style="display: none;">
			<h4 style="text-align: center;">Active Game Detected. Rejoin?</h4>
			<button onclick="rejoinGame()">Rejoin</button>
			<button onclick="dropGame()">Drop Game</button>
		</div>
	</div>
</body>
{{template "scripts" .}}

<script>
	//On page load, give every button on the page some fun glitchy text for the hover effect. This attribute is then used to set the content of the after pseudo-element of each button
	const glitchTextOptions = [
		'RUN',
		'HIDE',
		'QUIET',
		'ESCAPE',
		'DEATH',
		'MONSTERS',
		'KILL',
	]
	let buttons = document.querySelectorAll("button")

	for (let button of buttons) {
		button.setAttribute("glitch-text", glitchTextOptions[Math.floor(Math.random() * glitchTextOptions.length)])
	}

	let mainContent = document.getElementById("main-content")
	
	function randomFlicker(){
		mainContent.classList.add('flicker')

		setTimeout(() => {
			mainContent.classList.remove('flicker')
		}, Math.random() * 60 + 20)

		setTimeout(randomFlicker, Math.random() * 3000)
	}	

	function checkForActiveGame() {
		if (window.location.pathname == '/play') {
			return
		}
		const connectionInfo = JSON.parse(window.localStorage.getItem('efaios-connectionInfo'))

		if (connectionInfo?.type === 'rejoin') {
			document.getElementById('rejoin-box').style.display = '';
		}
	}

	function rejoinGame() {
		window.open('/play', '_self')
	}

	function dropGame() {
		window.localStorage.removeItem('efaios-connectionInfo')
		document.getElementById('rejoin-box').style.display = 'none';
	}

	checkForActiveGame();
	randomFlicker();
</script>

</html>
{{end}}