{{define "styling"}}
<style>
    #join-box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    @media (max-width: 1000px){
        #name-input, #roomcode-input{
            width: 25%;
            max-width: none;
        }
    }
</style>
<style></style>
{{end}}

{{define "body"}}
<div class="panel frame">
    <h1 style="font-size: xxx-large; text-align: center; margin: 5%;" id="game-title">Two Rooms and a Boom</h1>
    <join-form></join-form>
</div>
{{end}}

{{define "scripts"}}
<script src="/assets/js/utils.js"></script>
<script type="module" src="/assets/js/components/join-form.js"></script>
<script>
    function joinFormValidate(event) {
        event.preventDefault();
        let form = event.target
        form['roomCode'].value = form['roomCode'].value.toUpperCase();

        let connectionInfo = {
            type: 'join',
            roomCode: form['roomCode'].value,
            playerName: form['playerName'].value,
        }

        window.localStorage.setItem('tworooms-connectionInfo', JSON.stringify(connectionInfo))

        window.open('/play', '_self')
    }
</script>
{{end}}